node_modules/
dist/
build/
.inscribe/backups/
*.log
.DS_Store
.env
.env.local
.inscribe/cache/
out/
/.prodex

# Prevent compiled files in src
packages/*/src/**/*.js
packages/*/src/**/*.d.ts
/.prodex@inscribe
