node_modules/
vendor/
.dart_tool/
dist/
build/
.inscribe/backups/
*.log
.DS_Store
.idea/
.env
.env.local
.inscribe/cache/
out/

# Prevent compiled files in src
packages/*/src/**/*.js
packages/*/src/**/*.d.ts
/packages/engine/debug_playground
/.prodex@inscribe
